<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>

    <link rel="stylesheet" href="../assets/scss/all.scss">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="banner bg-style">
      <div class="container">

          <div class="text-right text-box">
              <h2 class="fs-36 text-brown">Promise-Desert 2020 早春系列</h2>
              <p class="font-bold fs-64 text-brown">看得清，才能看得遠</p>
              <button class="button bg-red text-white fs-20">立即購買</button>
          </div>

      </div>
  </section>
  <section class="bg">
      <div class="container">
          <h2 class="text-brown font-bold text-center fs-48">用專業的心，做專業的事</h2>

          <div class="cards d-flex">
              <div class="card">
                  <div class="d-flex flex-column">
                      <div class="text-center"><img src="../assets/images/home-section2-1.png" alt=""></div>
                      <h3 class="fs-24 text-center text-brown font-bold">單一價格</h3>
                      <p class="fs-16">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                  </div>
              </div>
              <div class="card">
                  <div class="d-flex flex-column">

                      <div class="text-center"><img src="../assets/images/home-section2-2.png" alt=""></div>
                      <h3 class="fs-24 text-center text-brown font-bold">20 分鐘即可取件</h3>
                      <p class="fs-16">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                  </div>
              </div>
              <div class="card">
                  <div class="d-flex flex-column">

                      <div class="text-center"><img src="../assets/images/home-section2-3.png" alt=""></div>
                      <h3 class="fs-24 text-center text-brown font-bold">安心售後服務</h3>
                      <p class="fs-16">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                  </div>
              </div>
              <div class="card">
                  <div class="d-flex flex-column">

                      <div class="text-center"><img src="../assets/images/home-sectioin2-4.png" alt=""></div>
                      <h3 class="fs-24 text-center text-brown font-bold">關於鏡片</h3>
                      <p class="fs-16">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                  </div>
              </div>
          </div>

      </div>
  </section>
  <section>
      <div class="container">
          <h2 class="text-brown font-bold text-center fs-48">經典系列鏡框</h2>

          <div class="cards d-flex">
              <div class="card">
                  <div class="d-flex flex-column">
                      <div class="text-center"><img src="../assets/images/home-section3-1.png" alt="OPTICAL"></div>
                      <h3 class="fs-48 text-center text-red font-bold font-italic">OPTICAL</h3>
                  </div>
              </div>
              <div class="card">
                  <div class="d-flex flex-column">
                      <div class="text-center"><img src="../assets/images/home-section3-2.png" alt="SUNGLASSES"></div>
                      <h3 class="fs-48 text-center text-red font-bold font-italic">SUNGLASSES</h3>
                  </div>
              </div>
              <div class="card">
                  <div class="d-flex flex-column">
                      <div class="text-center"><img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL"></div>
                      <h3 class="fs-48 text-center text-red font-bold font-italic">FUNCTIONAL</h3>
                  </div>
              </div>
          </div>

      </div>
  </section>
  <section class="bg-style">
      <div class="container">
          <h2 class="text-white font-bold text-center fs-48">聯名設計鏡框</h2>

          <div class="cards d-flex">
              <div class="card">
                  <div class="d-flex flex-column">
                      <div class="text-center"><img src="../assets/images/home-section4-1.png" alt="DOUBLE A+"></div>
                      <h3 class="bg fs-48 text-center text-red font-bold font-italic">DOUBLE A+</h3>
                  </div>
              </div>
              <div class="card ">
                  <div class="d-flex flex-column">
                      <div class="text-center"><img src="../assets/images/home-section4-2.png" alt="YOUTH"></div>
                      <h3 class="bg fs-48 text-center text-red font-bold font-italic">YOUTH</h3>
                  </div>
              </div>
          </div>

      </div>
  </section>
  <section class="bg-style">
      <div class="container">
          <h2 class="text-brown font-bold text-center fs-48">顧客推薦</h2>

          <div class="cards d-flex">
              <div class="card">
                  <div class="d-flex flex-column">
                      <div class="text-center"><img src="../assets/images/home-section5-1.png" alt="Jessy 顧客推薦"></div>
                      <div class="custumer-intro">
                          <div class="text">
                              <p class="fs-16 name">Jessy</p>
                              <p class="fs-16 desc">眼鏡品質優良，下次還會想來這邊購買！</p>
                              <p class="date text-grey ps-14">2021/06/20</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="d-flex flex-column">
                      <div class="text-center"><img src="../assets/images/home-section5-2.png" alt="凱倫 顧客推薦"></div>
                      <div class="custumer-intro">
                          <div class="text">
                              <p class="fs-16 name">凱倫</p>
                              <p class="fs-16 desc">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                              <p class="date text-grey ps-14">2021/04/18</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="d-flex flex-column">
                      <div class="text-center"><img src="../assets/images/home-section5-3.png" alt="悠悠 顧客推薦"></div>
                      <div class="custumer-intro">
                          <div class="text">
                              <p class="fs-16 name">悠悠</p>
                              <p class="fs-16 desc">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                              <p class="date text-grey ps-14">22020/12/25</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="d-flex flex-column">
                      <div class="text-center"><img src="../assets/images/home-section5-4.png" alt="Kyuan 顧客推薦"></div>
                      <div class="custumer-intro">
                          <div class="text">
                              <p class="fs-16 name">Kyuan</p>
                              <p class="fs-16 desc">服務很好，品質沒有任何問題，非常喜歡。</p>
                              <p class="date text-grey ps-14">2020/10/31</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </section>
  <section class="form-section bg">
      <div class="form-container">
          <h2 class="text-brown font-bold text-center fs-48">聯絡我們</h2>
          <p class="fs-20">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          <form action="">
              <div class="input-box mb-16">
                  <label for="name">姓名</label>
                  <input class="bd-1-black bg pb-6 pt-6 pl-12 pr-12 d-inline-block w100" type="text"
                      placeholder="陳小明" id="name">
              </div>
              <div class="input-box mb-16">
                  <label for="tel">聯絡電話</label>
                  <input class="bd-1-black bg pb-6 pt-6 pl-12 pr-12 d-inline-block w100" type="tel"
                      placeholder="0912-345-678" id="tel">
              </div>
              <div class="input-box mb-16">
                  <label for="">電子郵件</label>
                  <input class="bd-1-black bg pb-6 pt-6 pl-12 pr-12 d-inline-block w100" type="email"
                      placeholder="example@email.com" id="email">
              </div>
              <div class="input-box mb-16">
                  <label for="note">意見反應</label>
                  <textarea class="bd-1-black bg pb-6 pt-6 pl-12 pr-12 d-inline-block w100" name="" id="" cols="30"
                      rows="10" placeholder="請輸入您的意見" id="note"></textarea>
              </div>
              <div class="input-box d-flex mb-48">
                  <input type="checkbox">
                  <label for="">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
              </div>
              <div class="input-box text-center">
                  <input class="w100 bg-red button text-white pt-16 pb-16" type="button" value="確認送出">
              </div>

          </form>
      </div>
  </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
